.Container {
    width: 280px;
    background-color: #dcd4d2;
    padding: 70px 0;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(197, 167, 152, 1)
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 10px;
    justify-content: space-evenly;
    padding-top: 30px;
    margin-top: 20px;
}

.btn {
    width: 50px;
    height: 50px;
    color: #939496;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}


.opertionbtn {
    background-color: #c4aa95;
    color: white;


}

.numberbtn {

    background-color: #e4e5e9;
    color: #939496;

}